<div class="container">

  <h1>Here is the graph.</h1>
  <div class="canvas-container">

    <canvas id="chart" data-labels="<%= @data_keys %>" data-data="<%= @data_values %>" ></canvas>

  </div>



  <div id="test-display">
    <p>placeholder</p>


  </div>

</div>

<%= javascript_pack_tag 'data' %>
