<h1>This is the entry page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsa nesciunt quisquam beatae, dolorem omnis maiores nisi illo cum iste quidem fugiat voluptatem vel modi eligendi, quibusdam quaerat alias aliquid!</p>

  <ul>
    <% @entries.each do |entry| %>
      <li><div class="date-data"><p><%= entry.date %></p></div></li>
      <li><div class="datapoint-data"><p><%= entry.datapoint %></p></div></li>
    <% end %>
  </ul>
