<h1>Welcome to the home page!</h1>

<p>I'm just experimenting on this page.</p>
<h2>Entry</h2>
<p><%= @time %></p>

<h2>Form</h2>

<!--- Write /path in form action or / for root --->
<form action="/" method="get">
  <input type="text" name="member" placeholder="Who are you looking for??">
  <input type="submit">
</form>

<p>members array here</p>
<p><%= @members %></p>

<p>iteration</p>
<ul>
  <!--- Use % to only execute code --->
  <% @members.each do |member| %>
  <!--- Use %= to execute code and display the result --->
  <li><%= member.capitalize %></li>
  <% end %>
</ul>
