
<div class="container">
  <h1>Index page </h1>
  <h2>Here are all the entries</h2>
  <p>Add search form</p>
</div>

<div class="container">
  <% @entries.each do |entry| %>
    <div class="entry_card">
      <h3><%= entry.date.strftime("%B %-d, %Y %-k:%M") %></h3>
      <%= link_to "View Entry", entry_path(entry.id) %>
    </div>
  <% end %>
</div>
