<div class="container">
  <div class="form-and-buttons">
    <div class="buttons-container">
      <button type="button" class="main">Entry</button>
    </div>
    <div class="form-container">
      <%= render "layouts/form" %>
    </div>
  </div>
</div>
