.main {

  border-radius: 4px;
  background-color: #444444;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
  border: 2px solid #FFFFFF;
  text-decoration: none;
  padding: 4px 38px 4px 38px;
}
