
.entry_card {
  border-radius: 8px;
  background-color: #FFC900;
  padding: 8px;
  margin-top: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #444444;
  width: 400px;
}

.button:hover {
  color: white;
}
