
.entry-card {
  border-radius: 4px;
  background-color: #FFC900;
  padding: 8px;
  border: 1px solid #444444;
  margin-top: 16px;
  text-decoration: none;
  color: #444444;
  width: 400px;
  max-height: 200px;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.4);

}

.entry-card-body {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.entry-card h3 {
  font-size: 20px;
  font-weight: bold;
}


.card-link {
  color: #666666;
  text-decoration: none !important;
  font-weight: bold;
  font-size: 18px;
  line-height: 48px;
}


.button:hover {
  color: white;
}

#sample {
  border-radius: 4px;
  background-color: #F4DFBA;
  padding: 8px;
  border: 3px solid #444444;
  margin-top: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #444444;
  width: 400px;
  height: 400px;
}

#body-card {
  border-radius: 4px;
  background-color: #F4DFBA;
  padding: 8px;
  border: 1px solid #444444;
  margin: 16px;
  text-decoration: none;
  color: #444444;
  width: 600px;
  height: 600px;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.4) ;

}
