
.entry_card {
  border-radius: 4px;
  background-color: #FFC900;
  padding: 8px;
  border: 3px solid #444444;
  margin-top: 16px;
  text-decoration: none;
  color: #444444;
  width: 400px;
}

.entry_card h3 {
  font-size: 20px;
  font-weight: bold;
}


.card-link {
  color: #666666;
  text-decoration: none !important;
  font-weight: bold;
}


.button:hover {
  color: white;
}

#sample {
  border-radius: 4px;
  background-color: #F4DFBA;
  padding: 8px;
  border: 3px solid #444444;
  margin-top: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #444444;
  width: 400px;
  height: 400px;
}
