.navbar {
  text-decoration: none;
  // box-sizing: border-box;
  padding: 12px;
  // position: fixed;
  background: #FFC900;
  width: 100%;
}

.nav-item {
  font-size: 32px;
  // text-decoration: none;
  color: black;
}
