
.navigation_bar {
  box-sizing: border-box;
  // padding: 12px;
  position: fixed;
  background: #FFC900;
  width: 100%;
  flex-wrap: wrap;
  border-bottom: 3px solid #444444;
  // text-decoration: none !important;
  z-index:1
}

.navigation_bar ul {
  margin-left: 30px;
  display: flex;
  text-align: center;
  margin-top: 16px;
  // text-decoration: none;
}


.navigation_bar ul li {
  margin-left: 15px;
  margin-right: 15px;
  // list-style: none;
  font-size: 20px;
  font-weight: bold;
  // text-decoration: none;
}

.link {
  color: #444444;
  text-decoration: none !important;
}

.link:hover {
  color: #666666;
  text-decoration: none !important;
}

/* Wasn't able to make this work - the code below is closest I got */
.link:active {
  color: red !important;
  // text-decoration: none !important;
}



// .link:hover {
//   color: green;
//   text-decoration: none;
// }

// .navigation_bar ul li a {
//   padding: 3px 10px 4px 10px;
//   margin: auto 10px auto 10px;
//   text-decoration: none;
//   color: white;
//   border-radius: 12px;
//   transition-duration: 0.5s;
// }

// .navigation_bar a.active {
//   background: rgba(0, 0, 0, 0.6);
//   border-radius: 12px;
//   height: 20px;
// }




// .navigation-item active {
//   font-size: 32px;
//   // text-decoration: none;
//   color: #444444;
//   margin-left: 24px;
// }

// .nav-item {
//   font-size: 32px;
//   // text-decoration: none;
//   color: #666666;
//   margin-left: 24px;
// }



// .nav-item {
// color:purple;
// }

// .nav-link {
//   color:orange;
// }
