/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /*  Note: I renamed this file extension from .css to .scss  */

 /* Importing */

@import "bootstrap/scss/bootstrap";
@import 'components/navbar';
@import 'components/cards';






// This is how to define scss elements

$background-color: #1A5F7A;
$header-color: #FFC900;

html {
  scroll-behavior: smooth;
}

body {
  background-color: $background-color;
  color: #FFFFFF;
  font-family: 'Calibri', sans-serif;
}

ul {
  list-style: none;
}

.top-spacer {
  height: 80px;
}
