
<nav class="navigation_bar">
  <%# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup"> %>
    <ul>
      <li><%= link_to "All Entries", entries_path %></li>
      <li><%= link_to "New Entry", new_entry_path %></li>
      <li><%= link_to "Data", entries_path %></li>
    </ul>
  <%# </div> %>
</nav>
