<body>
  <div class="navbar">
    <ul>
      <%# check rails routes to know which prefix to write before _path %>

      <li class="nav-item"><h2><%= link_to "All Entries", entries_path %></h2></li>
      <li class="nav-item"><h2><%= link_to "New Entry", new_entry_path %></h2></li>
    </ul>
  </div>
</body>
