

<nav class="navigation_bar">

    <ul>
      <li><%= link_to "All Entries", entries_path, class:"link" %></li>
      <li><%= link_to "New Entry", new_entry_path, class:"link"  %></li>
      <li><%= link_to "Data", entries_path, class:"link"  %></li>
    </ul>

</nav>
