

<nav class="navigation_bar">

    <ul>
      <li a href=""><%= link_to "All Entries", entries_path, class:"link" %></li>
      <li a href=""><%= link_to "New Entry", new_entry_path, class:"link"  %></li>
      <li a href=""><%= link_to "Data", entries_path, class:"link"  %></li>
      <%# <li a href=""><%= link_to "Search", search_path, class:"link"  %></li> %>

    </ul>

</nav>
