<body>
  <div class="navbar" style="background: #FFC900; width: 100%">
    <ul>
      <%# <li class="nav-item"><%= link_to "Home", root_path %>
      <li class="nav-item"><%= link_to "Entries", entries_path %></li>
    </ul>
  </div>
</body>
