
<nav class="navbar navbar-expand-sm">
  <%# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup"> %>
    <div class="navbar-nav">
      <a class="nav-item nav-link"><%= link_to "All Entries", entries_path %></a>
      <a class="nav-item nav-link"><%= link_to "New Entry", new_entry_path %></a>
      <a class="nav-item nav-link"><%= link_to "Data", entries_path %></a>
    </div>
  <%# </div> %>
</nav>
